* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: auto;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    section {
        width: 900px;
        max-width: 100%;
        height: 700px;
        max-height: 100%;

        display: flex;
        border-radius: 20px;

        background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        box-shadow: rgba(0, 0, 0, 0.579) 0px 10px 17px;
        
        nav {
            height: 100%;
            width: 100px;
        }

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@mixin rounded-corners {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    border: 1px solid lightgray;
}

.bto {
    @include rounded-corners;
}

.adicionar-amigo, .amigos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionar-amigo {
    height: 100px;
    width: 100%;
}

.amigos {
    height: 400px;
    width: 100%;
}